@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Satoshi-Light';
  src: url('../fonts/satoshi/Satoshi-Light.woff2') format('woff2'),
    url('../fonts/satoshi/Satoshi-Light.woff') format('woff'),
    url('../fonts/satoshi/Satoshi-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Satoshi-Regular';
  src: url('../fonts/satoshi/Satoshi-Regular.woff2') format('woff2'),
    url('../fonts/satoshi/Satoshi-Regular.woff') format('woff'),
    url('../fonts/satoshi/Satoshi-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Satoshi-Medium';
  src: url('../fonts/satoshi/Satoshi-Medium.woff2') format('woff2'),
    url('../fonts/satoshi/Satoshi-Medium.woff') format('woff'),
    url('../fonts/satoshi/Satoshi-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Satoshi-Bold';
  src: url('../fonts/satoshi/Satoshi-Bold.woff2') format('woff2'),
    url('../fonts/satoshi/Satoshi-Bold.woff') format('woff'),
    url('../fonts/satoshi/Satoshi-Bold.ttf') format('truetype');
}

@layer utilities {
  @variants responsive {

    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none;
      /* IE and Edge */
      scrollbar-width: none;
      /* Firefox */
    }
  }
}

::selection {
  @apply text-versa-skyblue bg-versa-blue;
}

a, .link {
   @apply underline font-bold underline-offset-4 hover:text-neutral-600 visited:text-black
}

/* Hide scrollbar for Chrome, Safari and Opera */
.section-carousel-track::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.section-carousel-track {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}